/// <reference path="./_variable_overrides.scss" />
/// <reference path="../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss" />

.game-ratings {

	.header {
		$logo-size: 150px;

		display: flex;
		align-items: center;
		margin-bottom: 20px;

		img {
			height: $logo-size;
			width: $logo-size;
			margin: 30px;
		}

		.matchup {
			font-size: $font-size-h1;
			line-height: 1;
		}

		.date-and-time {
			font-size: $font-size-h5;
			font-family: "Roboto";
		}
	}

	.roster {

		.player-card {
			display: flex;
			align-items: center;
			margin-bottom: 30px;

			button {
				margin: 10px;
				font-size: 32px;
				padding: 8px;
			}

			.player-details {
				flex-grow: 1;
				display: flex;
				align-items: center;

				.player-picture {
					max-height: 80px;
					max-width: 80px;
					border-radius: 40px;
					border: 1px solid $gray-light;
					margin: 10px;
				}

				.player-name {
					font-size: $font-size-h3;
					line-height: 1;
				}

				.player-number {
					font-size: $font-size-h6;
					font-family: "Roboto";
				}
			}

			.player-rating {
				font-size: $font-size-h1;
				text-align: right;
				width: 100px;
			}
		}
	}
}
