/// <reference path="./_variable_overrides.scss" />
/// <reference path="../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss" />

.schedule {
	.game-badge {
		$logo-size: 75px;

		display: flex;
		align-items: center;
		border: 1px solid gray;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
		margin-bottom: 20px;
		cursor: pointer;

		.game-details {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: $font-size-h3;
		}

		.team-logo {
			height: $logo-size;
			width: $logo-size;
			margin: 20px;
		}

		.date-and-time {
			font-family: "Roboto";
			font-size: $font-size-h5;
		}
	}
}
