/// <reference path="../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss" />
$icon-font-path: "../../node_modules/bootstrap-sass//assets/fonts/bootstrap/";

$oilers-primary: #013E7F;
$oilers-secondary: #EB6E1E;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");