/// <reference path="../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss" />
$icon-font-path: "../../node_modules/bootstrap-sass//assets/fonts/bootstrap/";

$brand-primary: lightgreen;
$link-color: red;