/// <reference path="../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss" />
$icon-font-path: "../../node_modules/bootstrap-sass//assets/fonts/bootstrap/";

$brand-primary: #013E7F;
$link-color: #EB6E1E;